body{
    font-family: serif;
    background: #fffff0;
}

.title{
    color: #282928;
    font-size: 40px;
}

.container {
    max-width: 400px;
}

.todo li {
    font-size: 15px;
}

input[type=date]::-webkit-calendar-picker-indicator {
 
    opacity: 0;
}
input[type="date"]{
    position: relative;
}
 
input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
}
